* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, green, darkgreen);
  /* to bottom right = 135deg */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
}

.calendarContainer {
  background-color: whitesmoke;
  width: 300px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  box-shadow: 5px 5px 5px;
  height: 350px;
  overflow: hidden;
}

.month {
  background-color: orangered;
  border-radius: 10px 10px 0 0;
  padding: 20px;
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.weekday,
.year {
  color: grey;
  font-size: 20px;
  font-weight: bold;
  margin: 25px;
}

