* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    height: 100vh;
    color: white;
    background-color: darkblue;
}

.todoApp {
    border: 2px solid white;
    border-radius: 20px;
    background-color: lightblue;
    width: 90%;
    margin-top: 50px;
    padding: 30px;
}

h1 {
    padding: 20px;

}

.taskInput {
    padding: 5px 10px;
}

.addTaskBtn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 10px;

}

.todoContainer {
    margin-top: 30px;
    width: 100%;
}

.taskList li {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: beige;
    padding: 5px 10px;
    min-width: 90%;
    border-radius: 5px;

}

.taskList {
    list-style-type: none;
    gap: 10px;
    width: 90%;

}

.taskList li span {
    margin-left: 10px;
    color: black;

    /* padding: 10px 10px; */
}

.taskButtons {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.editBtn {
    background-color: goldenrod;
}

.deleteBtn {
    background-color: crimson;
}

.editBtn,
.deleteBtn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}

